@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.page-active {
	background-color: rgba(255, 0, 0, 0.3) !important;
	color: #fff;
	font-weight: bold;
}
